.logo{
    position: absolute;
    left: 25em;
    top: 17em;
}
body{
    background-color: rgb(252, 247, 222);
}
#slider{
    margin-left: 2em;
    width: 90em;
}
.Deal-of-day{
    border-radius: 1em;
}
#moto-1{
    position: absolute;
    top: 10em;
    left: 3em;
    font-size: 5em;
    color: white;
    font-style:italic;
    font-weight:800;
    font-family:Lucida Handwriting;
}
#moto-2{
    position: absolute;
    top: 12em;
    left: 5em;
    font-size: 5em;
    color: white;
    font-style:italic;
    font-weight:800;
    font-family:Lucida Handwriting;
}
.d-o-t-d:hover{
    transition: 0.2s ease-out;
    transform: scale(1.1);
}
#login_form{
 border-radius: 1em;
 background-color: rgb(252, 247, 222);
}
#Reg_form{
    border-radius: 1em;
    background-color: rgb(252, 247, 222); 
}
.shop-by-brand:hover{
    transition: 0.2s ease-out;
    transform: scale(1.1);
}
.nav-bar {
    position: absolute;
}

.nav-bar-item {
    color: white;
}

.nav-bar-item:hover {
    color: rgb(255, 217, 0);
}

.drop {
    width: 66em;
}

.drop>div {
    display: inline-table;
    margin-top: 0%;
    padding-top: 0%;
    width: 20em;
    margin-left: 1em;
}

.drop>a {
    margin-left: 2em;
}

.drop2 {
    margin: 0%;
    padding: 0%;
    position: absolute;
    left: 50em;
    width: 42.5em;
}

.drop2>div {
    display: inline-table;
    margin-top: 0%;
    padding-top: 0%;
    width: 20em;
    margin-left: 1em;
}

.drop2>a {
    margin-left: 2em;
}
#pas_d_match{
    display: none;
}